<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">a
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div class="game-board">
      <h3 class="nome-mario">Mario</h3>
      <img src="/assets/img/moeda gif.gif" class="moeda"> 
      <img src="/assets/img/moeda gif.gif" class="moeda2"> 
     <h3 id="score">Score:</h3> 
     <p onkeydown= "down()" class="score-texto" >{{count}}</p>
     <img src="/assets/img/mario.gif" class="mario">
     <img src="/assets/img/pipe.png" class="pipe">
     <img src="/assets/img/clouds.png" class="nuvens">
    
    

    </div>
    
    <ion-button (click)="pular()">Clique aqui</ion-button>

    <button onclick="window.location.reload()" class="bottom-reset">Reset</button>
   
  </div>
</ion-content>
